/* .Nav{width: 100%; height: 60px; border-top: 1px solid rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25);}
.Coulmn2{display: flex; flex-direction: row; justify-content: space-evenly;}
.Coulmn3{position: relative;  padding-top: 6px; left: 120px;}
.allCategoriesPanel{padding-left: 20px; width: 90%; height: 250px; box-shadow: 0 3px 6px rgba(0 0 0 / 20%); z-index: 100; background: azure;}
.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 15px;
    padding: 30px;
    z-index: 100;
  }
  .catCards{text-align: center; cursor: pointer; opacity: 0.85;}
  .catCards:hover{opacity: 1; opacity: 1;} */

/* General Styles */
.Nav {
  width: 100%;
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.Coulmn2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.allCategoriesPanel {
  position: relative;
  padding-left: 5px;
  width: 45%;
  height: 50%;
  box-shadow: 0 3px 6px rgba(0 0 0 / 20%);
  z-index: 1000;
  background: azure;
  overflow-y: hidden;
  overflow-y: scroll;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding: 10px;
  /* z-index: 1000; */
}

.catCards {
  text-align: center;
  cursor: pointer;
  opacity: 0.85;
  font-size: 14px;
}

.catCards:hover {
  opacity: 1;
}

/* Responsive Styles */

@media (min-width: 1400px) {
  .Coulmn3 {
       left: 100px; 
  }

  /* .category-container {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 5px;
      padding: 20px;
      z-index: 100;
      padding: 20px;
  } */

}

/* Extra Small devices (very small phones) */
@media (max-width: 576px) {
  .Nav {
      height: 50px; /* Adjust height for smaller screens */
  }

  .Coulmn1{
    width: 30vw;
    
  }

  .Coulmn2{
    width: 70vw;
    flex-wrap: wrap;
  }
  .icon{
    width: 10px;
    height: 10px;
  }
  .Allbutton{
    width: auto;
    height: 40px;
    /* font-size: 20px; */
    text-align: center;
  }
  .button{
    width: 15px;
    height: 15px;
    font-size: 5px;
    text-align: center;
  }
  .allCategoriesPanel {
      width: 100vw;
      /* height: 65vh;
      overflow-y: hidden;
      overflow-y: scroll;
      padding-left: 0px;
      padding-right: 20px;
      box-shadow: none; */
  }

  .category-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      padding: 5px;
      gap: 10px;
  }

  .catCards {
      font-size: 12px;
  }
}
